@media all and (max-width: 660px) { 
	/* slide menu top and bottom */
	nav.slide-menu-top ul,
	nav.slide-menu-bottom ul,
	nav.push-menu-top ul,
	nav.push-menu-bottom ul {
	  	padding: 35px 0 0 0
	}
	nav.slide-menu-top a,
	nav.slide-menu-bottom a,
	nav.push-menu-top a,
	nav.push-menu-bottom a {
	  	line-height: 30px;
	  	padding: 0 2px;
	  	font-size: 12px;
	}
	nav.slide-menu-top button.close-menu,
	nav.slide-menu-bottom button.close-menu,
	nav.push-menu-top button.close-menu,
	nav.push-menu-bottom button.close-menu {
	  	line-height: 30px;
	  	padding: 0 2px;
	}
	
	section .p_img, section .p_detail {
		width: 98% !important;
		float: none !important; 
	}
    section .p_detail {
		margin-left: 0 !important; 
	}

	section .product .texts {
		width: 97% !important; 
	}
	
	section .product li {
		width: 98% !important;
		min-height: 180px !important;
		.product_image{
			width: 30%;
		    float: left !important;
		    min-width: 150px !important;
		    max-width: 110px !important;
		}
		.product_detail {
			width: 40%;
		  float: left;
		  margin: auto;
		  margin-left: 10px;
		}
    }
#odelivery { width: 98% !important; float:none !important; }
#oItem { margin-left: 0 !important; width: 98%; float:none !important; } 

.table-bordered {
	img {
		display: block;
		float: none !important;
		margin-left: auto;
		margin-right: auto;
	}
}

#sitemap { 
	.col { width: 98%;
	}
}/*end sitemap*/
	
/*|* ------------------------------------------------------------ *|
|* Basket Page
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
	.b_item, .b_amount { width: 98% !important; float: none !important; clear: both !important; }	
	.b_amount { margin-left: 0 !important; }
}

 


