/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Globals
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 15px 9px 18px;
  text-decoration: none; }

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none; }

/*http://css3buttongenerator.com/*/
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
body {
  overflow-x: hidden;
  /*font-size: 14px;*/
  /* Reference From defualt brouswer 2040816*/ }

#wrapper {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
  }
  

.logo {
  background-image: url(../images/Logo_PuritFaceSmall.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 150px; }

.logo:hover {
  background-image: url(../images/Logo_PuritFaceLargel.png);
  background-repeat: no-repeat;
  height: 200px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

section {
  margin-bottom: 30px; }

section h1 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px; }

section p {
  margin-bottom: 30px; }

section p:last-child {
  margin-bottom: 0; }

section:last-child {
  margin-bottom: 0; }

section.toggle {
  text-align: center; }

.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Toggle Buttons
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.buttons {
  
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* general style for all menus */
nav.menu {
  position: fixed;
  z-index: 20;
  background-color: #67b5d1;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

nav.menu a {
  font-weight: 300;
  color: #fff; }

button.close-menu {
  background-color: #3184a1;
  color: #fff; }

button.close-menu:focus {
  outline: none; }

/* slide menu left and right, push menu left and right */
nav.slide-menu-left,
nav.slide-menu-right,
nav.push-menu-left,
nav.push-menu-right {
  top: 0;
  width: 220px;
  height: 100%; }

nav.slide-menu-left li,
nav.slide-menu-right li,
nav.push-menu-left li,
nav.push-menu-right li {
  display: block;
  text-align: center;
  border-bottom: solid 1px #3184a1;
  border-top: solid 1px #b5dbe9; }

nav.slide-menu-left li:first-child,
nav.slide-menu-right li:first-child,
nav.push-menu-left li:first-child,
nav.push-menu-right li:first-child {
  border-top: none; }

nav.slide-menu-left li:last-child,
nav.slide-menu-right li:last-child,
nav.push-menu-left li:last-child,
nav.push-menu-right li:last-child {
  border-bottom: none; }

nav.slide-menu-left a,
nav.slide-menu-right a,
nav.push-menu-left a,
nav.push-menu-right a {
  display: block;
  padding: 10px;
  font-size: 18px; }

nav.slide-menu-left button.close-menu,
nav.slide-menu-right button.close-menu,
nav.push-menu-left button.close-menu,
nav.push-menu-right button.close-menu {
  margin: 10px 0;
  padding: 10px 30px;
  background-color: #3184a1;
  color: #fff; }

nav.slide-menu-left,
nav.push-menu-left {
  left: -220px; }

nav.slide-menu-right,
nav.push-menu-right {
  right: -220px; }

body.sml-open nav.slide-menu-left,
body.pml-open nav.push-menu-left {
  left: 0; }

body.smr-open nav.slide-menu-right,
body.pmr-open nav.push-menu-right {
  right: 0; }

body.pml-open #wrapper {
  left: 220px; }

body.pmr-open #wrapper {
  left: -220px; }

/* slide menu top and bottom */
nav.slide-menu-top,
nav.slide-menu-bottom,
nav.push-menu-top,
nav.push-menu-bottom {
  left: 0;
  width: 100%;
  height: 100px; }

nav.slide-menu-top ul,
nav.slide-menu-bottom ul,
nav.push-menu-top ul,
nav.push-menu-bottom ul {
  text-align: center;
  padding: 25px 0 0 0; }

nav.slide-menu-top li,
nav.slide-menu-bottom li,
nav.push-menu-top li,
nav.push-menu-bottom li {
  display: inline-block;
  margin: 0;
  vertical-align: middle; }

nav.slide-menu-top a,
nav.slide-menu-bottom a,
nav.push-menu-top a,
nav.push-menu-bottom a {
  display: block;
  line-height: 50px;
  padding: 0 10px;
  font-size: 18px; }

nav.slide-menu-top button.close-menu,
nav.slide-menu-bottom button.close-menu,
nav.push-menu-top button.close-menu,
nav.push-menu-bottom button.close-menu {
  display: block;
  line-height: 50px;
  margin: 0;
  padding: 0 10px; }

nav.slide-menu-top,
nav.push-menu-top {
  top: -100px; }

nav.slide-menu-bottom,
nav.push-menu-bottom {
  bottom: -100px; }

body.smt-open nav.slide-menu-top,
body.pmt-open nav.push-menu-top {
  top: 0; }

body.smb-open nav.slide-menu-bottom,
body.pmb-open nav.push-menu-bottom {
  bottom: 0; }

body.pmt-open #wrapper {
  top: 100px; }

body.pmb-open #wrapper {
  top: -100px; }

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Custom
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#coverLogo{ 
	width: 100%;
	> img { float: left; }
	#logo_01{ width: 70%; float: right; padding-top: 20px; 
		.phone{ float: right;
			img { float: left; } 
			.phone_num{ float: left; margin-top: 7px; }
		}
	}
}/*end coverLogo*/
		
header { width: 100%; /*background: olive;*/ clear: both;}
#main_menu { width: 100%; background: orange; margin-bottom: 10px;
	.buttons{ display:none;}
	.menu_desktop a:link{ color: black; }
	.menu_desktop a:visited{ color: black; }
	.menu_desktop a:active{ color: green; }
	.menu_desktop a:hover{ color: gray; }
}
#corousel { width: 100%; margin: auto;}
	
	


/*--Left Canvas font --*/
nav li a {
  font-size: 1em !important; }
    /* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Content or Detail
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
	
	
	
    .indetail { clear: both; /*background: yellow;*/ padding-top: 20px; overflow:hidden;
		section { /*background: pink;*/ width: 99%; margin:20px auto; 
				  overflow:hidden; border-bottom: 1px solid #666666; padding-bottom: 10px;
			
			.p_img {  float:left; width:40%;
				img { width:100%;}
			}
			.p_detail { float:left; margin-left: 30px; width:50%;
			
			}
			.product{ width: 98%; /*background: olive;*/ margin: 0 auto;
				li { float: left; /*background: orange;*/ width: 15%; margin:0 5px; min-height:300px;
					.product_image { /*background: blue;*/ padding: 10px; 
									 border-radius: 5px;
									 -moz-border-radius: 5px;
									 -webkit-border-radius: 5px;
									 box-shadow: 0px 0px 7px #999;
									 -moz-box-shadow: 0px 0px 7px #999;
									 -webkit-border-radius: 0px 0px 7px #999;
									 max-width: 150px;
						img { width: 100%; max-height:110px; min-height:110px; }
					}/*end product_image*/
					.product_detail { /*background: green;*/ line-height:1.5em; padding:5px 5px 3px 5px;
						a { font-size: 0.85em;
							span.descript { color: #006bce;
								&:hover { color: #f77e00; text-decoration:underline; } 
							}
							span.price { color: #761025;} 
						}/*end a*/
						
					
					}/*end product_detail*/
				}/*end li*/
				h1 { line-height: 2em; }
				.texts { width: 75%; margin: auto; }
			}/*end product*/
			#map{
					height:400px;
					width:100%;
					border:5px #000;
				}
		}/*end section*/
		
	}/* end indetail*/
	
	
  
  
  
  /* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Footer
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
footer{
	/*background: #67b5d1;*/
	position: relative;
	clear: both;
	bottom: 0; 
	#social_icon {
		li { /*background: red;*/ float:left;
		 div { width:48px; height: 48px;}
		}
		li#f_facecook { 
			background-image:url(../images/social/facebook.png);
			background-repeat:no-repeat;
			&:hover {
				background-image:url(../images/social/facebook-hover.png);
				background-repeat:no-repeat;
			}
		}
		li#f_twitter { 
			background-image:url(../images/social/twitter.png);
			background-repeat:no-repeat;
			&:hover {
				background-image:url(../images/social/twitter-hover.png);
				background-repeat:no-repeat;
			}
		}
	}/*end #social_icon*/
	#footaddress{
		clear: both;
		padding: 5px 20px;
		/*background: yellow;*/
		margin: 0 auto;
	}
	
}



















   

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(../images/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }


    